.profile {
  max-width: 880px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .profile {
    width: 282px;
    margin: 0 auto 36px;
    flex-direction: column;
  }
}
