.footer {
  max-width: 880px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 36px;
    max-width: 282px;
  }
}
