.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    margin: 0 auto 26px;
  }
}

.profile__avatar:hover {
  opacity: 0.3;
}
