.popup__input {
  width: 358px;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  vertical-align: top;
  margin-bottom: 5px;
  z-index: 100;
}

.popup__input_type_error {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 767px) {
  .popup__input {
    width: 238px;
  }
}

.popup__input:hover {
  pointer-events: auto;
}
