.header {
  max-width: 880px;
  margin: 45px auto 39px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  min-height: 74px;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    margin: 28px auto 42px;
  }
}
